In [9]:
import pandas as pd

df = pd.read_csv('museums.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33072 entries, 0 to 33071
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Museum ID                                 33072 non-null  int64
 1   Museum Name                               33072 non-null  object
 2   Legal Name                                33072 non-null  object
 3   Alternate Name                            1927 non-null   object
 4   Museum Type                               33072 non-null  object
 5   Institution Name                          2749 non-null   object
 6   Street Address (Administrative Location)  33062 non-null  object
 7   City (Administrative Location)            33072 non-null  object
 8   State (Administrative Location)           33072 non-null  object
 9   Zip Code (Administrative Location)        33072 non-null  object
 10  Street Address (Physical Location)        9216 non-null   object
 11  City (Physical Location)                  9223 non-null   object
 12  State (Physical Location)                 9223 non-null   object
 13  Zip Code (Physical Location)              9221 non-null   float64
 14  Phone Number                              22932 non-null  object
 15  Latitude                                  33007 non-null  float64
 16  Longitude                                 33007 non-null  float64
 17  Locale Code (NCES)                        32995 non-null  float64
 18  County Code (FIPS)                        30536 non-null  float64
 19  State Code (FIPS)                         33071 non-null  float64
 20  Region Code (AAM)                         33072 non-null  int64
 21  Employer ID Number                        27554 non-null  object
 22  Tax Period                                23280 non-null  float64
 23  Income                                    22961 non-null  float64
 24  Revenue                                   22290 non-null  float64
dtypes: float64(9), int64(2), object(14)
memory usage: 6.3+ MB

/var/folders/fn/3w5085ns7nv4v62cfvj7m9sm0000gp/T/ipykernel_18130/2361279361.py:3: DtypeWarning: Columns (9,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('museums.csv')

In [12]:
state_count = df['State (Administrative Location)'].value_counts()
city_count = df['City (Administrative Location)'].value_counts()

states_most_museums = state_count.idxmax()
state_most_museums_count = state_count.max()

cities_most_museums = city_count.idxmax()
cities_most_museums_count = city_count.max()

print(f"{states_most_museums}: {state_most_museums_count}")
print(f"{cities_most_museums}: {cities_most_museums_count}")

CA: 2670
NEW YORK: 297

In [13]:
state_count = df['State (Administrative Location)'].value_counts()
city_count = df['City (Administrative Location)'].value_counts()

states_least_museums = state_count.idxmin()
state_least_museums_count = state_count.min()

cities_least_museums = city_count.idxmin()
cities_least_museums_count = city_count.min()

print(f"{states_least_museums}: {state_least_museums_count}")
print(f"{cities_least_museums}: {cities_least_museums_count}")

DE: 132
PAUPACH: 1

In [24]:
print(df.columns)

zoo_aquarium_wildlife = df[df['Museum Type'].str.contains("ZOO|AQUARIUM|WILDLIFE", na = False)]
num_zoo_aquarium_wildlife = len(zoo_aquarium_wildlife)
print(f'Total number of Zoos, Aquariums, Wildlife Conservations: {num_zoo_aquarium_wildlife}')

Index(['Museum ID', 'Museum Name', 'Legal Name', 'Alternate Name',
       'Museum Type', 'Institution Name',
       'Street Address (Administrative Location)',
       'City (Administrative Location)', 'State (Administrative Location)',
       'Zip Code (Administrative Location)',
       'Street Address (Physical Location)', 'City (Physical Location)',
       'State (Physical Location)', 'Zip Code (Physical Location)',
       'Phone Number', 'Latitude', 'Longitude', 'Locale Code (NCES)',
       'County Code (FIPS)', 'State Code (FIPS)', 'Region Code (AAM)',
       'Employer ID Number', 'Tax Period', 'Income', 'Revenue'],
      dtype='object')
Total number of Zoos, Aquariums, Wildlife Conservations: 564

In [25]:
zoos = df[df['Museum Name'].str.contains("ZOO", na = False)]
num_zoos = len(zoos)
print(f'Total number of Zoos: {num_zoos}')

Total number of Zoos: 289

In [27]:
print(df["Museum Type"].unique())

aquariums = df[df['Museum Name'].str.contains("AQUA", na = False)]
num_aqu = len(aquariums)
print(f'Total number of Aquariums: {num_aqu}')

['HISTORY MUSEUM' 'ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER'
 'SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM' 'HISTORIC PRESERVATION'
 'GENERAL MUSEUM' 'ZOO, AQUARIUM, OR WILDLIFE CONSERVATION' 'ART MUSEUM'
 "CHILDREN'S MUSEUM" 'NATURAL HISTORY MUSEUM']
Total number of Aquariums: 129

In [36]:
df['Revenue'] = pd.to_numeric(df['Revenue'], errors = 'coerce')

max_rev = df['Revenue'].max()

highest_revenue = df[df['Revenue'] == max_rev].head(1)
#highest_revenue = df[df['Revenue'] == max_rev]  ##shows a

print(f'Museum/Organization with the highest Revenue: {highest_revenue}')

Museum/Organization with the highest Revenue:        Museum ID                        Museum Name  \
1090  8409500460  FRED LAWRENCE WHIPPLE OBSERVATORY

                                    Legal Name Alternate Name  \
1090  PRESIDENT AND FELLOWS OF HARVARD COLLEGE            NaN

                                     Museum Type    Institution Name  \
1090  SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM  HARVARD UNIVERSITY

     Street Address (Administrative Location) City (Administrative Location)  \
1090                        670 MT HOPKINS RD                          AMADO

     State (Administrative Location) Zip Code (Administrative Location)  ...  \
1090                              AZ                               2138  ...

      Latitude Longitude Locale Code (NCES)  County Code (FIPS)  \
1090  42.36977 -71.11216                1.0                17.0

     State Code (FIPS)  Region Code (AAM)  Employer ID Number  Tax Period  \
1090              25.0                  1            42103580    201306.0

            Income       Revenue
1090  8.318144e+10  5.840349e+09

[1 rows x 25 columns]